.App {
  text-align: center;
}

.board-container {
  margin: 10px auto;
  max-width: 720px;
  background: #434343;
}

.board-row {
  display: flex;
}

.board-cell {
  background: #bdc7e2;
  width: 120px;
  height: 120px;
  display: flex;
  margin: 1px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board-cell--mine {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #cc4b00;
  border: 2px solid #be0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 60px;
}

.board-cell--point {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #03f16f;
  border: 2px solid #05a54d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #05a54d;
}

.actions {
  padding-top: 8px;
}

.actions button {
  cursor: pointer;
  border: 2px solid #ff3859;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 24px;
  background-color: #ff3859;
  color: #FFF;
  transition: 0.1s linear;
}

.actions button:hover {
  background-color: #c42841;
  border-color: #c42841;
}
